.rcc-datepicker-wrapper {
    display: inline; position: relative;
}

.rcc-datepicker {
    position: absolute;
    top: 24px;
    left: 2px;
    z-index: 1;
    border: 1px solid #ddd;
    padding: 5px;
    .border-radius(5px);
    background-color: #fff;

    .div-close {
        margin-right: 7px;

        button {
            font-size: 22px;
        }
    }

    table {

        th {
            text-align: center;

            &.prev:hover, &.next:hover {
                .border-radius();
                cursor: pointer;
                background-color: #eee;
            }
        }

        tbody {
            td {
                .border-radius();
                cursor: pointer;
                text-align: center;

                &:hover {
                    background-color: #eee;
                }

                &.today {
                    background-color: #FFDB99;
                }

                &.selected {
                    background-color: #3276B1;
                    color: #fff;
                }

                &.diff-month {
                    color: #999;
                }
            }
        }
    }

}

button.rcc-datepicker-toggle {
    border-width: 0;
    margin-left: -2px;
    margin-bottom: 2px;

    span {
        width: auto !important;
    }
}