div.rcc-modal, div.create-dialog {
	z-index: 2;
	position: absolute;
	left: 10px;
}

div.create-dialog .rcc-modal { position: static; }
div.rcc-modal {
	div.rcc-modal-overlay {
		position: fixed;
		top: 0;
		left: 0;
		background-color: #fff;
		.opacity();
		width: 100%;
		height: 100%;
	}

	div.modal-lg {
		width: 800px;
	}
}

