div.m-file-manager {
	padding: 5px 0;
	margin: 5px 0;
	border-width: 3px 0;
	border-style: dashed;
	border-color: transparent;

	&.drag { border-color: #357ebd; }

	.no-support { padding: 3px; }

	.toggle-edit {
		vertical-align: baseline;
		margin-left: 2px;
	}
}